##################################
##### Todo lo que ignora GIT  ####
##################################

#ficheros genereados de forma automatica
/build/

#Configuracion Eclipse
/.settings/
/.classpath
/.project