/*
* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*/

body {background:#FEFEFE;}

.menu_bar {
	display:none;
}

header nav {
	background:#54AEE3;
	z-index:1000;
	margin: 0px auto;
	width: 100%;
	font-family: Lobster, Arial, Helvetica, sans-serif;
	padding:0;
}

header nav ul {
	list-style:none;
	text-align:center;
}

header nav ul .children{
	text-align:left;	
}

header nav ul li {
	display:inline-block;
	position: relative;
	margin-bottom:0;
}

header nav li a:hover{
	background-color:#E5E6F8;
	color:#000;	
}

header nav ul li a {
	background-color:#54AEE3;
	color: white;
	text-decoration:none;
	padding:5px;
	display:block;
	width:100px;	
}

header nav ul li:hover .children {
	display:block;
}

header nav ul li .children {
	display: none;
	position: absolute;
	z-index:1000;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid black;
	background-color:#54AEE3;
	color: white;
}

header nav ul li .children li:hover {
	overflow:visible;
}

header nav ul li .children li a {
	display: block;
	text-align:left;
	width:155px;	
}

