/* 
	version: 1.0
	autor: Javi
	fecha: 20150518
	
*/

/**************** RESET de momento lo dejamos aparte ***************************/

/* resetea todos los estilos para cualquier navegador */
@import url("reset.css"); /* lo importamos de un fichero interno */


/****************************

		Fonts
		
****************************/

/*
@font-face {
    font-family: DeliciousRoman;
    src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);
    font-weight:400;
}
*/
@font-face {
    font-family: kikelet;
    src: url(../fonts/kikelet/Kikelet.ttf) format('truetype');
}


/**************** DEFINICION DE LOS ESTILOS DE LAS ETIQUETAS *******************************/
/* damos un estilo general o base a toda la web */
P {
	font-family: Arial;
	font-size: 16px;
	text-align: justify;
	line-height: 20px;
	/* hace una separacion entre el p�rrafo y lo que tenga debajo */
}

body {
/*	background: url('../img/fondo.jpg');*/
	background-image: url('../img/fondo.jpg');
	font-family: arial; /* para que todas las p�ginas tengan arial */
}

/* Regla con selector por ETIQUETA = ELEMENTO = TAG */
h1 {
	color: green;
	font-size: 50px;
	font-family: arial;
	margin-bottom: 20px;
	text-align: center;
}

h2 {
	color: black;
	font-size: 30px;
	font-family: arial;
	margin-bottom: 15px;
	text-align: center;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
	/* quitamos el subrayado a los enlaces de todas las paginas */
}

a:hover { /* pseudoselector: cuando te pones encima del enlace */
	color: orange;
}

/* despues del ancla genera un contenido al vuelo al pasar el raton por un ancla */
/*
a:hover:after {  
	content: " (" attr(href) ") "; 
}
*/

ol, ul {
	list-style-type: disc;
}

ol h3, ul h3 { /* porque en nuestro menu usamos H3 en el index */
	font-weight: bold;
	margin-bottom: 15px;
}

li {
	margin-bottom: 8px;
}

ol ol, ul ul { /* estilos para las listas anidadas */
	margin-left: 20px;
	list-style-type: circle;
}

p{
	font-family: arial;
	font-size:16px;
	text-align:justify;
	line-height:20px;
}

fieldset{
	border:1px solid grey;	
	padding: 20px 30px;
	margin-bottom: 20px;
}

legend{
	font-weight: bold;
}

.mark{
	background-color: yellow;	
}

article{
	border: 1px solid #013729;
	padding: 20px;
	margin-bottom: 25px;
}

article h1{
	background-color: #88ABCB;
	color: #C10D57;
	font-size: 25px;
	padding: 5px 0px;	
}

footer{
	border-top: 1px dotted #000;
	padding-top:10px;
	margin-top:10px;
}

#pie_general{
	border-top: none;	
	padding-top:0;
	margin-top:0;

}
/******************************* CLEARFIX ******************************/

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/*********************** LAYOUT *********************************/


#container {
/*	width: 900px;*/ 
	max-width:900px; /* recomendable 960px */ 
	min-width:320px;
	margin: 0 auto; /* centra la capa en pantalla */
	padding: 0 20px;
	/* margen interior arriba y abajo 0px e izq y der 20px */
	border-right: 1px solid grey;
	border-left: 1px solid grey;
	background-color: white;
	clear: both;
}


#head{
	position:fixed;
	background-color:#FFF;
	width: 900px;
	padding-top: 10px;
	z-index: 100; /* para que quede siempre por encima de todo */	
}

nav {
	margin: 0px auto;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
  	position: relative;
  	left: 15%;	
}


#content{
	padding-top: 125px; /* para separar la pagina de la cabecera */
/*	margin-top:200px;*/	
}

#home{
	width:100%; /* RWD */
}

#aside_home{
/*	position:fixed;
	top:500px;
	right:10px;*/
	border:3px solid black;
	border-radius:20px 20px 20px 20px;
	background-color:#8AC007;
	padding:10px;
	float:right;
	width:15%;	
	font-size:12px;	
}

#pie_general{
	margin-top:5px;	
	border-top:1px dotted black;
	padding-top:20px;
	padding-bottom:15px;	
	font-size:20px;
}

/************** ESTILOS REUTILIZABLES --- CLASES **************************/
.numero {
	font-size: 20px;
	color: #0099FF;
	font-family: kikelet; /*para probar el font face */
	font-size: 2em;
}

.encabezado {
	border: 1px solid green;
}

.highlight {
	background-color: yellow;
}

.verde {
	color: green;
}

table.tabla_azul, .tabla_azul tr, .tabla_azul td {
	/* aplicamos el mismo estilo a las 3 etiquetas */
	border: 1px solid grey;
	text-align: center;
	color: #0099FF;
	font-family: arial;
	font-size: 20px;
}

.tabla_azul th, .tabla_azul td {
	padding: 10px;
	height: 20px;
}

.tabla_azul th {
	color: grey;
}

/*
.logo_pie{
	height:20px;
	width:20px;
}
*/

.fotocara{
	height:50px;
	width:auto;
}

/*************** DETALLE_PELICULA ***********/
.titulo {
	/*	border: 1px solid #000000;
	color: red;*/
	text-align: center;
}

#cartelera_detalle .cartel {
	height: auto;
	width: 250px;
	float: left;
	margin-right: 30px;
}

.destacado {
	color: green;
	font-weight: bold;
}

.titulopelicula {
	color: blue;
	font-weight: bold;
	font-size: 20px;
}

.datospelicula {
	color: blue;
	font-size: 15px;
}

.fotopelicula {
	width: 250px;
	height: 357px;
}

.flechavolver {
	width: 40px;
	height: auto;
}

/******************** CARTELERA *************************/

#cartelera ul{
	float:left;
	padding-left:5%;
}

#cartelera li{
	float: left;
	width:30%;
	margin-right:2%;
	list-style:none;
}

#cartelera li:nth-child(3n+0){ /* para quitar el margen que queda a la derecha del ultimo elemento de cada fila */
	margin-right:0%;
}

#cartelera .cartel{
	position:relative;
	width:200px;
}

#cartelera .titulo{
	position:absolute;
	bottom:0;
	background-color:rgba(0,0,0,0.5);
	width:90%;
	padding: 3% 5%;
	min-height: 40px;
	display:none; /* para ocultar el titulo */ 
}

#cartelera .cartel:hover .titulo{ /* muestra el titulo al entrar el cartel */
	display:block;
}

#cartelera titulo h3{
	color:#0099FF;
	text-align:center;
}

/* CARTELERA_DETALLE */
#cartelera_detalle h1 {
	color: blue;
	text-align: left;
}
/* TABLA_AVANADA */
/*
#tabla_avanzada h1 {
	color: blue;
	text-align: left;
*/	
}

/*******************************************************************************************************/
#imagen1 {
	height: 100px;
	width: 150px;
}

#dado {
	height: 150px;
	width: 150px;
}

/**************** ELEMENTOS_BASICOS **********************************************/

#sinopsis {
	float: left;
	height: 200px;
	overflow: scroll;
	font-size: 20px;
	text-align: justify;
}

#ficha {
	float: left;
	width: 580px;
	min-height: 360px;
	/* altura minima para que baje el argumento debajo de la foto */
	margin-bottom: 20px;
}

#ficha p { /* selecciona los P que estan dentro de div ficha */
	font-size: 35px;
	line-height: 45px;
}

#tabla_telefonos {
	font-size: 13px;
	color: blue;
}

#tabla_telefonos th {
	font-weight: bolder;
}

.celda_centrada {
	text-align: center;
}

.celda_derecha {
	text-align: right;
	font-weight: bold;
}

/******************************** NAV *************************************/

nav * {
	padding: 0px;
	margin: 0px;
}


nav li{
	margin-bottom:0px;
}

nav ul, nav li{
	list-style:none;
}

#menu li a{ 
	background-color:#54AEE3;
	color: white;
	text-decoration:none;
	padding:5px 10px;
	display:block;
}

#menu li a:hover{
	background-color:#E5E6F8;
	color:#000;
}

#menu > li{
	float:left; 	
}

#menu li ul{
	display:none;
	position:absolute;
	min-width:200px;
}

#menu li:hover > ul{
	display:block;
}

#menu li ul li{
	position:relative;
}

#menu li ul li ul{
	right:-200px;
	top: 0px;
	z-index:5;
}

#menu li ul li a{
	margin-top:0px;
	margin-bottom:0px;
}

#menu { /*para probar el fontface */
	font-family: 'Lobster';	
}

/*************************** HEAD ****************************/

header{100%;} /*copiado al profe */


/* flotamos el logo a la izda */
#head #logo{
	float:left;
}

#head h1{
	text-shadow: 3px -3px #54AEE3;
	text-align: center;
}


#aside_home h3{
	font-size:15px;
	font-style:bold;
	margin-bottom:10px;
	text-decoration:underline;
}

#aside_home li{
	list-style-type:none;	
}


/******************* INDEX ************************************/

#logo img {
	height: 50px;
	width: 50px;
}

#dado_afortunado{
	float:left;
	width:25%;
	margin-right:2%;
	text-align: center;	
}

#tabla_dado{
	float:left;
	width:50%;
	font-size: 50px;
	color: #0099FF;
	font-family: Arial;
}

#btn_ganador{
	width:100px;
	height:auto;
}


/************************ FONTAWESOME **********************************/

#fontawesome .verde{
	color:green;
}

#fontawesome .azul{
	color:blue;
}

#tamano{
	font-size:60px;
}

/************************* SPRITES **************************************/

#sprites li {
	border:1px solid #000;
	padding:15px 40px;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	list-style-type:none;
}

#sprite_pacman{
  background-position: 0 -50px;
}

#sprite_fantasma{
  background-position: 0 -98px;
}

#sprite_robot{
  background-position: 0 0px;
}


#list_rrss{
	list-style-type:none;	
}

#list_rrss li{
	background-image: url("../img/mini-social-icons.png");
	background-repeat: no-repeat;
	float:left;
}

.sprite_facebook img, .sprite_twitter img, .sprite_youtube img, .sprite_instagram img {
  height: 84px;
  width: 84px;
  vertical-align: middle;
}

.sprite_facebook{
 	background-position: 0 0;
}

.sprite_facebook:hover{
 	background-position: 0 -84px;	
}

.sprite_twitter{
	background-position: -672px 0;
}

.sprite_twitter:hover{
 	background-position: -672px -84px;	
}

.sprite_youtube{
	background-position: -840px 0;
}

.sprite_youtube:hover{
 	background-position: -840px -84px;	
}

.sprite_instagram{
	background-position: -336px 0;
}

.sprite_instagram:hover{
	background-position: -336px -84px;
}


/********************** FOOTER ************************************/


.copy{
	margin-left:50px;
}

#list_paginas{
	padding:0px;
	display:inline-block;
}

#list_paginas a{
	color: #000;
}

#list_paginas li a:hover{
	color:orange;
}

#list_paginas li{
	list-style-type: none;
    display: inline;
    padding-right: 15px;
}


#list_rrss2{
	padding:0px;
	display:inline-block;
	margin-left:165px;
}

#list_rrss2 li{
	list-style-type: none;
    display: inline;
	margin-right: 15px;
	font-size:30px;
}

#list_rrss2 li a{
	color:#000;
}

#list_rrss2 li a:hover{
	color:orange;
}

.cnt_article{
	padding:20px;
	border:1px solid #cf5b89;
}

.cnt_article h2{
	border-bottom: 1px solid #cf5b89;
	margin-bottom: 10px;
	text-align: left;
	color:red;
}

.cnt_article ul{
	list-style-type: none;
	margin: 30px;
}

#nav_top{
	display:none;
}

/******************************  EVENTOS ********************************************/
/* contenedor para columnas */
.cnt_cols{
	width:100%;
	border: 1px solid #DDD;	
}

.col1, .col2{
	float:left;
	width:49%;
	min-height:100px;	
}

.col1{
	border-right: 1px solid #DDD; /* borde para separar las 2 columnas */
}

.col2{
	padding:5%;
	width:39%; /* le restamos 10 de su anterior width por los 5% del padding de izd y der */
}


/***********************************************************************/

/* reglas media querys */
/* se aplica para pantallas menores de 460px de ancho */
@media screen and (max-width:460px){ 

	#head h1{
		color:red;
		font-size:1.2em;
		text-align:left;
	}

	#nav_top{
		display:inline;
		position:fixed;
		z-index:5;
		bottom:10px;
		right:10px;
		width: 45px;
		height: 45px;
	}

	#head{
		width: 100%;
	}
	
	nav {
		width: 100%;
	}
	
	#content{
		width:100%;
	}
	
	#container {
		width:100%; /* RWD */
	}
	
	
	
	#home{
		width:100%;
	}
	
	#aside_home{
		width:100%;		
	}
	
	#pie_general{
		width:100%;
	}
}